@model RijlesPlanner.UI.MVC.ViewModels.LessonViewModels.LessonViewModel

<div id="lessonInfoModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Les informatie
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="lessonId" hidden>
                    @Model.Id
                </p>
                <div class="row">
                    <div class="col">
                        Titel: @Html.DisplayFor(Model => Model.Title)
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Omschrijving: @Html.DisplayFor(Model => Model.Description)
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Start: @Html.DisplayFor(Model => Model.Start)
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Einde: @Html.DisplayFor(Model => Model.End)
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (User.IsInRole("Instructor"))
                {
                    <button type="button" class="btn btn-danger" id="delete-lesson" data-dismiss="modal">Les annuleren</button>
                }
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</div>
