@model RijlesPlanner.UI.MVC.ViewModels.DashboardViewModels.StudentsViewModel

@{
    ViewData["Title"] = "Students";
}

<div class="container">
    <h2>Studenten van rijschool houben</h2>
    <hr />
    <div class="row">
        <div class="col">
            <h4>All students</h4>
            <div class="table-responsive">
                <table class="table table-striped" id="usersTable">
                    <thead>
                        <tr>
                            <th hidden scope="col">Id</th>
                            <th scope="col">Voornaam</th>
                            <th scope="col">Achternaam</th>
                            <th scope="col">Optie</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model.AllStudents)
                        {
                            <tr>
                                <td hidden id="student-id">@student.Id</td>
                                <td>@student.FirstName</td>
                                <td>@student.LastName</td>
                                <td><input class="btn btn-primary btn-sm" value="Info" type="button" id="student-info" /> <input class="btn btn-success btn-sm" value="Add" id="add-student" type="button" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h4>My students</h4>
            <div class="table-responsive">
                <table class="table table-striped" id="instructorUsersTable">
                    <thead>
                        <tr>
                            <th hidden scope="col">Id</th>
                            <th scope="col">First name</th>
                            <th scope="col">Last name</th>
                            <th scope="col">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var student in Model.InstructorStudents)
                        {
                            <tr>
                                <td hidden id="student-id">@student.Id</td>
                                <td>@student.FirstName</td>
                                <td>@student.LastName</td>
                                <td><input class="btn btn-primary btn-sm" value="Info" type="button" id="student-info" /> <input class="btn btn-danger btn-sm" value="Remove" id="remove-student" type="button" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="partial-holder"></div>